.detailsPage {
  width: 100%;
  min-height: 100vh;
  background: #f8ecd4;
  padding: 40px 20px;
}

/* PRODUCT SECTION */
.detailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

/* IMAGE */
.imageSection img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

/* INFO */
.infoSection {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.category {
  font-size: 15px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.infoSection h1 {
  font-size: 42px;
  color: #002b45;
  line-height: 1.1;
}

.description {
  font-size: 17px;
  color: #444;
  line-height: 1.7;
}

.rating {
  font-size: 20px;
  color: #ffb400;
  font-weight: bold;
}

.infoSection h2 {
  font-size: 34px;
  color: #002b45;
}

/* QUANTITY */
.quantityBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantityBox button {
  width: 45px;
  height: 45px;
  border: none;
  background: #002b45;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}

.quantityBox span {
  font-size: 24px;
  font-weight: bold;
}

/* BUTTON */
.detailsBtn {
  width: 220px;
  padding: 15px;
  border: none;
  background: #002b45;
  color: white;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.detailsBtn:hover {
  background: #01456d;
}

/* RELATED PRODUCTS */
.relatedSection {
  margin-top: 80px;
}

.relatedSection h2 {
  margin-bottom: 25px;
  font-size: 32px;
  color: #002b45;
}

/* GRID */
.related-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

/* MOBILE */
@media (max-width: 768px) {
  .detailsContainer {
    grid-template-columns: 1fr;
  }

  .imageSection img {
    height: 350px;
  }

  .infoSection h1 {
    font-size: 30px;
  }

  .infoSection h2 {
    font-size: 28px;
  }

  .related-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .relatedSection {
    margin-top: 50px;
  }
}
